POSTGRES_URL=psql 'postgresql://neondb_owner:npg_1FXVZIn5oHkK@ep-curly-silence-ad4inx3z-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
PAYLOAD_SECRET=napi_9v3qek7xy3zjuj34gxdosrdvwvjszbj1lmc1lt6noa6585kb21rm5l2gi8kux1c3
